.body {
    background-color: #A2B378;
}

.container {
    font-family: 'Oswald', sans-serif;
   background-color: #A2B378; 
   margin: 50px;  
   border: 5px solid #A2B378;
}

.headline {
    font-size: 2.5rem;
    color: #2F394D;
    display: flex;
    justify-content: center;
}

.across {
    background-color: slategray;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;

}

.col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    border: 1px solid wheat;
    height: 50px;
    color: wheat;
    padding: 5px;
}

.col:hover {
    background-color: #2F394D;
    color: #BCAB79;
}
